{% extends 'base/base.html' %}
{% block body %}

<div id="accordion">
 {% for faq in faq %}
  <div class="card">
    <div class="card-header" id="heading{{ faq.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="false" aria-controls="collapse{{ faq.id }}">
            {{ faq.problem }}
        </button>
      </h5>
    </div>
    <div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#accordion">
      <div class="card-body">
        {{ faq.reply }}{{ faq.id }}
      </div>
    </div>

  </div>
 {% endfor %}
</div>




{% endblock %}