{% extends 'specs/product_features.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="{% url 'new-feature' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
<input type="submit" class="btn btn-success" value="Создать">
</form>
{% endblock %}