{% extends 'specs/product_features.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-12">
        <form action="{% url 'new-category' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
        <input type="submit" class="btn btn-success" value="Создать">
        </form>
    </div>
{% endblock %}