{% load static%}
<!DOCTYPE html>
<html lang="en">
<!--=======================================-->
<!--================ head =================-->
<!--=======================================-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block head_description %}Free Web tutorials{% endblock %}">
    <meta name="keywords" content="{% block head_keywords %}HTML,CSS,XML,JavaScript{% endblock %}">
    <link rel="icon" href="{% block head_favicon %}{% static 'img/fav-icon.png'%}{% endblock %}" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block head_title %}Название сайта{% endblock %} | {% block head_title_content %}Загаловок{% endblock %}</title>
    <!-- Icon css link -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/line-icon/css/simple-line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/elegant-icon/style.css' %}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Rev slider css -->
    <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
    <!-- Extra plugin css -->
    <link href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/bootstrap-selector/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<!--==========================================-->
<!--================ css_add =================-->
<!--==========================================-->
    {% block css_add %}

    {% endblock %}
<!--==========================================-->
<!--=============== /css_add =================-->
<!--==========================================-->
</head>
<!--========================================-->
<!--================ /head =================-->
<!--========================================-->
    <body>
<!--================ ----------- ================-->
<!--===================================================-->
<!--================= Top Header Area =================-->
<!--===================================================-->
{% block top_header %}
<div class="header_top_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="top_header_left top_header_middle">
<!--===================================================-->
<!--================= Top Header Contacts =============-->
<!--===================================================-->
                    {% block top_header_contacts %}
                    <a href="#"><i class="fa fa-phone"></i> Телефон: <span>{{ setting.phone }}</span></a>
                    <a href="#"><i class="fa fa-envelope"></i> Email: <span> {{ settings.email }}&nbsp;&nbsp;|</span></a>&nbsp;
                    <a href="#"><i class="fa fa-clock-o"></i> График: <span>{{ setting.workschedule }}</span></a>
                    {% endblock %}
<!--===================================================-->
<!--================ /Top Header Contacts =============-->
<!--===================================================-->
                </div>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <div class="top_right_header">
                    <ul class="header_social">
<!--===================================================-->
<!--============== /Top Header social ikon ============-->
<!--===================================================-->
                        {% block social_ikon %}
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        {% for item in ikonki %}
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        {% endfor %}
                        {% endblock %}
<!--===================================================-->
<!--============== /Top Header social ikon ============-->
<!--===================================================-->
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
<!--===================================================-->
<!--================= Top Header logotip ==============-->
<!--===================================================-->
                {% block header_logotip %}
                <div class="top_header_left top_header_middle">
                    <img src="{% if setting.logotip %}{{ setting.logotip.url }}{% else %}{% static 'img/logo.png'%}{% endif %}" alt="">
                </div>
                {% endblock %}
<!--===================================================-->
<!--================ /Top Header logotip ==============-->
<!--===================================================-->
            </div>
            <div class="col-lg-4" style="margin-top: -50px">
                <div class="top_header_middle">
<!--===================================================-->
<!--================= Top Header search ===============-->
<!--===================================================-->
                    {% block header_search %}
                    <form action="#" method="get">
                        <div class="input-group searsh">
                            <input type="text" name= "search"class="form-control" placeholder="Поиск.." aria-label="Поиск..">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                    {% endblock %}
<!--===================================================-->
<!--================ /Top Header search ===============-->
<!--===================================================-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="top_right_header">
                    <ul class="top_right">
<!--====================================================-->
<!--================ /Top Header profile ===============-->
<!--====================================================-->
                        {% block header_profile %}
                        <li class="user_icon" >
                            <button type="button" class="user_icon " style="border: 0px; background: #fff;"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <a href="#"><i class="icon-user icons"></i></a>
                            </button>
                            <div class=" dropdown-menu dropdown-menu-right">
                                {% if not request.user.is_authenticated %}
                                <button class="dropdown-item" type="button" ><p><a href="{% url 'login' %}">Авторизация</a></p></button>
                                <button class="dropdown-item" type="button" ><a href="{% url 'registration' %}">Регистрация</a></button>
                                {% else %}
                                <button class="dropdown-item" type="button">Здравствуйте, </button>
                                <button class="dropdown-item" type="button"> <a href="#"> {% if request.user.is_authenticated %}</a> {{ request.user.username }}</button>
                                <button class="dropdown-item" type="button" href="#">{% else %} гоcть!{% endif %}<a href="{% url 'logout' %}">Выйти</a></button>
                                {% endif %}
                            </div>
                        </li>
                        {% endblock %}
<!--====================================================-->
<!--================ /Top Header profile ===============-->
<!--====================================================-->
<!--====================================================-->
<!--=================== Top Header cart ================-->
<!--====================================================-->
                        {% block header_cart %}
                        <li class="user_icon" ><a href="#"><i class="icon-handbag icons"></i></a></li>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cart' %}">Корзина <span class="badge badge-pill badge-danger">{{ cart.products.count }}</span></a>
                            </li>
                        </ul>
                        {% endblock %}
<!--====================================================-->
<!--================== /Top Header cart ================-->
<!--====================================================-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!--===================================================-->
<!--================ /Top Header Area =================-->
<!--===================================================-->
<!--================ ----------------- ================-->
<!--===================================================-->
<!--================ Top Header menu ==================-->
<!--===================================================-->
{% block menu %}
<header class="shop_header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown submenu active">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home Simple</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html">Home Simple</a></li>
                        </ul>
                    </li>
                    <li  class="nav-item dropdown submenu active">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Megamenu <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu" >
                            <li  class="nav-item "><a class="nav-link " href="index.html">Home Simple</a></li>
                            <li class="nav-item "><a class="nav-link " href="index.html">Home Simple</a></li>
                        </ul>
                    </li>
                    <div class="nav-item submenu active megamenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu megamenu-content">
                            <div class="row">
                                <div class="column">
                                    <a href="#">Home 1</a>
                                    <a href="#">Home 2</a>
                                    <a href="#">Home 3</a>
                                </div>
                                <div class="column">
                                    <a href="#">Ссылка 2</a>
                                    <a href="#">Ссылка 3</a>
                                    <a href="#">Ссылка 4</a>
                                    <a href="#">Ссылка 5</a>
                                </div>
                                <div class="column">
                                    <a href="#">Ссылка 2</a>
                                    <a href="#">Ссылка 3</a>
                                    <a href="#">Ссылка 4</a>
                                    <a href="#">Ссылка 5</a>
                                    <a href="#">Ссылка 5</a>
                                    <a href="#">Ссылка 5</a>
                                </div>
                                <div class="column">
                                    <a href="#">Ссылка 2</a>
                                    <a href="#">Ссылка 3</a>
                                    <a href="#">Ссылка 4</a>
                                    <a href="#">Ссылка 5</a>
                                    <a href="#">Ссылка 5</a>
                                    <a href="#">Ссылка 5</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="/news/">Блог</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/shop/">магазин</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
{% endblock %}
<!--===================================================-->
<!--=============== /Top Header menu ==================-->
<!--===================================================-->
<!--================ ----------------- ================-->
<!--===================================================-->
<!--=================== block body ====================-->
<!--===================================================-->
{% block body %}
<div align="center">Тело сайта...1.</div>
{% endblock %}
<!--===================================================-->
<!--=================== /block body ===================-->
<!--===================================================-->
<!--================= ------------- ===================-->
<!--===================================================-->
<!--==================== Footer =======================-->
<!--===================================================-->
{% block Footer %}
<footer class="footer_area">
    <div class="container">
        <div class="footer_widgets">
            <div class="row">
<!--===================================================-->
<!--=============== footer_block_1-4 ==================-->
<!--===================================================-->
                {% block footer_block_1-4 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget f_about_widget">
<!--===================================================-->
<!--=================== logotip =======================-->
<!--===================================================-->
                        {% block footer_logotip %}
                        <img src="{% static 'img/logo.png'%}" alt="">
                        {% endblock %}
<!--====================================================-->
<!--=================== /logotip =======================-->
<!--================== description =====================-->
<!--====================================================-->
                        {% block footer_description %}
                        <p> {{ setting.description|truncatechars:155|safe }} </p>
                        {% endblock %}
<!--====================================================-->
<!--================= /description =====================-->
<!--==================== Social ========================-->
<!--====================================================-->
                        <h6>Social:</h6>
                        <ul>
                            {% block footer_Social %}
                            <li><a href="#"><i class="social_facebook"></i></a></li>
                            <li><a href="#"><i class="social_twitter"></i></a></li>
                            <li><a href="#"><i class="social_pinterest"></i></a></li>
                            <li><a href="#"><i class="social_instagram"></i></a></li>
                            <li><a href="#"><i class="social_youtube"></i></a></li>
                            {% endblock %}
                        </ul>
<!--===================================================-->
<!--==================== Social =======================-->
<!--===================================================-->
                    </aside>
                </div>
                {% endblock %}
 <!--===================================================-->
<!--=============== /footer_block_1-4 ==================-->
<!--====================================================-->

<!--===================================================-->
<!--=============== footer_block_2-4 ==================-->
<!--===================================================-->
                {% block footer_block_2-4 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_info_widget">
                        <div class="f_w_title">
                            <h3>Блок</h3>
                        </div>
                        <ul>
                            <li><a href="#">Акции</a></li>
                            <li><a href="#">Новинки</a></li>
                            <li><a href="#">Наши работы</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Returns & Refunds</a></li>
                        </ul>
                    </aside>
                </div>
                {% endblock %}
<!--===================================================-->
<!--=============== /footer_block_2-4 =================-->
<!--===================================================-->

<!--===================================================-->
<!--=============== footer_block_3-4 ==================-->
<!--===================================================-->
                {% block footer_block_3-4 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_extra_widget">
                        <div class="f_w_title">
                            <h3>Для клиентов</h3>
                        </div>
                        <ul>
                            <li><a href="/conditionofpayment/">Условия оплаты</a></li>
                            <li><a href="/usloviyadostavka/">Условия доставки</a></li>
                            <li><a href="/garantii/">Гарантия</a></li>
                            <li><a href="/vozvrat/">Возврат</a></li>
                            <li><a href="/contact/">Контакты</a></li>
                            <li><a href="/aboutus/">О нас</a></li>
                        </ul>
                    </aside>
                </div>
                {% endblock %}
<!--===================================================-->
<!--=============== /footer_block_3-4 =================-->
<!--===================================================-->

<!--===================================================-->
<!--=============== footer_block_4-4 ==================-->
<!--===================================================-->
                {% block footer_block_4-4 %}
                <div class="col-lg-3 col-md-4 col-6">
                    <aside class="f_widget link_widget f_account_widget">
                        <div class="f_w_title">
                            <h3>Контакты</h3>
                        </div>
                        <ul>
                            <li><a href="#">My account</a></li>
                            <li><a href="#">Ordr History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </aside>
                </div>
                {% endblock %}
<!--===================================================-->
<!--=============== /footer_block_4-4 =================-->
<!--===================================================-->
            </div>
        </div>
<!--===================================================-->
<!--================= Copyright =======================-->
<!--===================================================-->
        {% block footer_copyright %}
        <div class="footer_copyright">
            <h5> 1 {{ setting.copyright|safe }} </h5>
        </div>
        {% endblock %}
<!--===================================================-->
<!--================== /Copyright =====================-->
<!--===================================================-->
    </div>
</footer>
{% endblock %}
<!--===================================================-->
<!--=================== /Footer =======================-->
<!--===================================================-->
<!--================ ----------------- ================-->
<!--=============================================-->
<!--================== Script ===================-->
<!--=============================================-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js'%}"></script>
        <script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js'%}"></script>
        <!-- Extra plugin css -->
        <script src="{% static 'vendors/counterup/jquery.waypoints.min.js'%}"></script>
        <script src="{% static 'vendors/counterup/jquery.counterup.min.js'%}"></script>
        <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js'%}"></script>
        <script src="{% static 'vendors/bootstrap-selector/js/bootstrap-select.min.js'%}"></script>
        <script src="{% static 'vendors/image-dropdown/jquery.dd.min.js'%}"></script>
        <script src="{% static 'js/smoothscroll.js'%}"></script>
        <script src="{% static 'vendors/isotope/imagesloaded.pkgd.min.js'%}"></script>
        <script src="{% static 'vendors/isotope/isotope.pkgd.min.js'%}"></script>
        <script src="{% static 'vendors/magnify-popup/jquery.magnific-popup.min.js'%}"></script>
        <script src="{% static 'vendors/vertical-slider/js/jQuery.verticalCarousel.js'%}"></script>
        <script src="{% static 'vendors/jquery-ui/jquery-ui.js'%}"></script>
        <script src="{% static 'js/theme.js'%}"></script>
        {% block script_add %}

        {% endblock %}
<!--==========================================-->
<!--================ /Script =================-->
<!--=========================================-->
    </body>
</html>