{% extends 'shop/base.html' %}
{% load search_filter %}

{% block productfilter %}

      <form class="d-flex mt-3" action="{% url 'category_detail' slug=category.slug %}" method="GET">
        <input class="form-control me-2" name="search" type="search" placeholder="Поиск товара" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    <hr>
    <form action="{% url 'category_detail' slug=category.slug %}" method="GET">
        {{ category|product_spec }}
    <p class="text-center">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
        <button class="btn btn-outline-info" type="submit">Сбросить</button>
    </p>
    </form>

{% endblock productfilter %}
{% block content %}
    <nav aria-label="breadcrumb" class="mt-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
        <li class="breadcrumb-item active">{{ category.name }}</li>
      </ol>
    </nav>
<div class="row">
  {% for product in category_products %}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </h4>
        <h5>{{ product.price }} руб.</h5>
              <a href="{% url 'add_to_cart' slug=product.slug %}">
      <button class="btn btn-danger">Добавить в корзину</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}