{% load mptt_tags %}

<div class="categorys">
    <div class="l_w_title">
        <h3><ya-tr-span data-index="57-0" data-value="Categories" data-translation="Категории" data-type="trSpan">Категории</ya-tr-span></h3>
    </div>

    {% for category in categorys %}

    <p><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></p>

    {% endfor %}
</div>
<br>
