{% load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'img/fav-icon.png'%}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Persuit</title>
        <!-- Icon css link -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/line-icon/css/simple-line-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/elegant-icon/style.css' %}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Rev slider css -->
        <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <!-- Extra plugin css -->
        <link href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bootstrap-selector/css/bootstrap-select.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--================Top Header Area =================-->
        {% include 'base/header.html' %}
        <!--================Boot Area =================-->

        {% block body %}
        <!--================Categories Banner Area =================-->
        <section class="solid_banner_area">
            <div class="container">
                <div class="solid_banner_inner">
                    <h3>{{ title }}</h3>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/news/">блок</a></li>
                        <li><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
                        <li><a href="#">{{ post.title }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Categories Banner Area =================-->



<!--================Categories Product Area =================-->
        <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-12">

							<div class="c_product_grid_details">

                                <div class="c_product_item">
                                    <div class="row">
                                            <div class="c_product_text">
                                                 <h3>{{ post.title }}</h3>
                                                        {{ post.content|safe }}


                                            </div>

                                    </div>

                                </div>
                                    <span class="categories">
                                        <i class="fa fa-tag"></i>
                                        {% if post.tags.exists %}
                                                            {% for tag in post.tags.all %}
                                                            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                                                            {% endfor %}
                                                        {% endif %}

                                    </span>
                                    <div class="float-right"> <h6> Дата: <span> {{ post.created_at|date:"Y-m-d" }}</span></h6> </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
        {% endblock %}

        <!--================Footer Area =================-->
        {% include 'base/footer.html' %}
    </body>
</html>

</body>
</html>