{% load static%}
{% load mptt_tags %}
{% load sidebar %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'img/fav-icon.png'%}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Persuit</title>
        <!-- Icon css link -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/line-icon/css/simple-line-icons.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/elegant-icon/style.css' %}" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Rev slider css -->
        <link href="{% static 'vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <!-- Extra plugin css -->
        <link href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'vendors/bootstrap-selector/css/bootstrap-select.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--================Top Header Area =================-->
        {% include 'base/header.html' %}
        <!--================Boot Area =================-->

        {% block body %}
        <!--================Categories Banner Area =================-->
        <section class="solid_banner_area">
            <div class="container">
                <div class="solid_banner_inner">
                    <h3>{{ category.name}}</h3>
                    <ul>
                        <li><a href="/">Главная</a></li>
                        <li><a href="/news/">Блог</a></li>
                        <li><a href="">{{ category.name }}</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Categories Banner Area =================-->



<!--================Categories Product Area =================-->
        <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-9 float-md-right">

							<div class="c_product_grid_details">
                                {% for post in posts %}
                                <div class="c_product_item">
                                    <div class="row">
                                            <div class="c_product_text">
                                                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                                        {{ post.content|truncatewords_html:20|safe }}
                                                <h6><a href="{{ post.get_absolute_url }}"><span>Далее</span></a></h6>
                                                        <br><br>
                                                <div class="blog-info float-left">
                                                    <span class="author-name">
                                                        <i class="fa fa-angle-right"></i>
                                                        <a href="{{ post.category.get_absolute_url }}"> {{ post.category }}</a>
                                                    </span>
                                                    <span class="categories">
                                                        <i class="fa fa-tag"></i>
                                                        {% if post.tags.exists %}
                                                            {% for tag in post.tags.all %}
                                                            <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                                                            {% endfor %}
                                                        {% endif %}

                                                    </span>
                                                    <span class="comments-number">
                                                        <i class="fa fa-comment"></i>
                                                        <a href="#">0 Comment</a>
                                                    </span>
                                                </div>
                                                    <div class="float-right"> <h6> Дата: <span> {{ post.created_at|date:"j F Y" }}</span></h6> </div>
                                            </div>

                                    </div>
                                </div>
                                 {% endfor %}
		<!--================Paginations Product Area =================-->
                                {% if page_obj.has_other_pages %}

                                <nav aria-label="Page navigation example" class="pagination_area">
                                  <ul class="pagination">

                                      {% for p in page_obj.paginator.page_range %}
                                        {% if page_obj.number == p %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% endif %}
                                      {% endfor %}

                                      {% if page_obj.has_next %}
                                        <li class="page-item next"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                      {% endif %}
                                  </ul>
                                </nav>
                                {% endif %}
		<!--================Paginations Product Area =================-->
                            </div>
                        </div>
                        <div class="col-lg-3 float-md-right">
                            <div class="categories_sidebar">
                                <aside class="l_widgest l_p_categories_widget">





                        {% get_category %}

                        {% get_tags %}
                                </aside>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
        {% endblock %}

        <!--================Footer Area =================-->
        {% include 'base/footer.html' %}
    </body>
</html>

</body>
</html>